* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFECBE;
}

/* HEADER */
.header {
    height: 25vh;
    line-height: 25vh;
    text-align: center;
    vertical-align: middle;
}

.typewriter h1 {
    overflow: hidden;
    margin: 0 auto;
    animation: 
    typing 5s steps(30, end),
    blink-caret .2s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* MAIN CONTAINER */
.container {
    display: flex;
} 

.nav-bar {
    width: 15vw;
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
}

.nav-bar a {
    text-decoration: none;
    padding: 1rem;
    color: black;
}

.main-container {
    background-color: #fff;
    height: 73vh;
    width: 82vw;
}

.main-container {
    padding: 3rem;
}

.tab-pane {
    display: none;
  line-height: 25px;
}		

.tab-pane h1{
  margin-bottom: 2rem;
}

.active {
    display: flex;
    flex-direction: column;
    background-color: #fff
}

/* FORM */
fieldset {
    padding: 1rem;
    display: flex;
  margin-bottom: 2rem;
}

input {
  margin-bottom: 1rem;
}

legend {
    background-color: black;
    color: #fff;
    padding: 0.8rem;
}

.choose-monster {
    display: block; 
}

.meet-monster {
    color: darkgrey;
}
